*{
    box-sizing: border-box;
    margin: 0;
}
@font-face{
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

.menu {
    position: relative;
    border: 5px solid dodgerblue;
    height: 350px;
    width: 600px;
    margin: 15px;
    background-color: #4e4e4e;
    font-size: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.menu button {
    color: black;
    background-color: chartreuse;
    font-weight: bold;
    font-size: 1.5rem;
    border: 3px solid #006600;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    transition: padding, 0.5s;
}

.menu #record {
    font-size: 2.6rem;
    color: #eee;
}

.menu button:hover {
    padding: 15px;
}

[wm-flappy]{
    position: relative;
    border: 5px solid dodgerblue;
    height: 100vh;
    width: 100vw;
    background-color: deepskyblue;
    overflow: hidden;
    background-image: url(../imgs/milospnggif.gif);
    background-repeat: repeat(2);
    background-size: 50%;
}

.passaro{
    position: absolute;
    width: 80px;
    border-radius: 40%;
    left: calc(50% - 30px);
}

.par-de-barreiras{
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barreira .borda{
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: solid 2px #000;
}
.barreira .corpo{
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: solid 2px #000;
    border-right: #000 2px solid;
}
.progresso{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 70px;
    font-family: Pixel;
    z-index: 100;
}